<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/vendor/tether/css/tether.css'>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>

<div class="container">

    <header>
        <h1>Project manager</h1>
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            Lorem ipsum dolor amet. Laoreet rutrum faucibus dolor auctor duis mollis.
        </p>
    </header>

    {{{ body }}}

</div>

<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/serializejson/jquery.serializejson.min.js"></script>
<script src="/vendor/tether/js/tether.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/project-manager.js"></script>
<script src="/js/task-manager.js"></script>

</html>